@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

:root{
    --color-main:#103559;
    --color-sub-1: #171e6a;
    --color-text-dark: #00171F;
    --color--text-light:#667479;
    --font: "Be Vietnam Pro", sans-serif;
    --font-sub: "Pinyon Script", cursive;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: var(--font);
    /* Điều chỉnh khoảng cách giữa các dòng */
    line-height: 1.4; 
    
}
b {
    font-family: var(--font-sub);
}
a{
    text-decoration: none;
}
.container{
    width: 1240px;
    margin: 0 auto;
}

/* end root*/

/* menu */
.button{
    display: inline-flex;
    align-items: center;
    height: 44px;
    width: auto;
    padding: 0 28px;
    color: rgb(243, 244, 245);
    font-weight: 700;
    font-size: 16px;
    background-color: var(--color-main);
    border-radius: 55px;
}

.shoping{
    display: flex;
    flex-direction: column;
    margin-right: -50px;
    align-items: center;
    color: var(--color-main);
    gap: 10px;
}

.shoping i{
    display: flex;
    font-size: 35px;
    color: rgb(201, 20, 20)
}

.shoping b{
    display: flex;
    font-size: 16px;
}

.shoping i:hover{
    color: rgb(4, 187, 233);
}

.header {
    padding: 8px 0;
    /* padding: 12px 10.1%; */
    background-color: #dee7e9;
    position: fixed;
    z-index: 100;
    top: 0;
    /* full */
    width: 100%;
}
.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header .inner-logo img{
    width: auto;
    height: 60px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 7px;
}

/* menu */

.header .inner-menu{
    flex: 1;
    text-align: center;
}

.header .inner-menu ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 40px;
}
.header .inner-menu ul li i{
    color: #070707;
    font-size: 25px;
    display: block;
}

.header .inner-menu li:hover{
    border-bottom: 10px solid rgb(15, 201, 111);
    border-radius: 12px;
}

.header .inner-menu ul li{
    /* align-items: center; */
    display: block;
    border-bottom: 10px solid transparent;
    /* transition: border-bottom-color 0.3s ease; */
}


.header .inner-menu ul a{
    display: block;
}


.header .inner-menu ul a{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-main);
}
/* end menu */

/* thanh tim kiem */
.header .inner-form{
    background-color: #faeaea;
    height: 44px;
    width: 280px;
    border-radius: 46px;
    padding: 0 16px;
    display: inline-flex;
    gap: 12px;
    border: 2px solid #898787;
}

.header .inner-form input{
    border: 0;
    outline: 0;
    height: 100%;
    background-color: transparent;
    flex: 1;
    order: 1;
}
.header .inner-form button{
    font-size: 17px;
    color: var(--color--text-light);
    background-color: transparent;
    border: 0;
    padding: 0;
    order: 0;
}
/* end */






/* Làm ở đây */
/* form liên hệ */
.col-back .contact-1 img{
  width: 100%;
  filter: grayscale(100%) brightness(50%); /* Làm ảnh thành màu xám với độ sáng phù hợp */
  opacity: 0.5; /* Điều chỉnh độ trong suốt */
  z-index: 0;
}
.col-back{
  margin-top: 90px;
  
}
.col-back .contact-1 .contact-2{
  margin-top: -450px;
  margin-left: 520px;
  text-align: center;
  position: absolute;
}

.col-back .contact-1{
  background-color: #2f2e2e;
  z-index: 1;
  position: relative;
}

.col-back .contact-1 span{
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.col-back .contact-1 p{
  font-size: 18px;
  color: #fffefe;

}
.inner-status{
  display: inline-flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 80px;
  box-shadow: 0 0 7px rgba(23, 22, 22, 0.1);
  border-radius: 10px;
}
.contact-form {
    padding: 35px 50px;
    margin-top: 10px;
    /* border: 3px solid #050505; */
    /* border-radius: 50%; */
    width: 500px;
    max-width: 500px;
    /* box-shadow: 0 0 5px rgba(144, 76, 76, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input::placeholder,textarea::placeholder{
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font);
  color: rgb(219, 173, 141);
}
p{
  color: #f44336;
}
.inner-content-status {
   line-height: 3;
   color: #00171F;
   font-weight: 500;
   font-size: 14px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input, .contact-form textarea {
  background-color: #f6f4f4;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #eae8e8;
    border-radius: 20px;
}
.contact-form button {
    height: 40px;
    width: 70px;
    max-width: 400px;
    border: 1px solid rgb(231, 58, 23);
    cursor: pointer;
    background-color: #ea7d11;
    color: rgb(0, 0, 0);
    font-size: 20px;
    color: #fefefe;
    font-family: var(--font);
    margin-top: 10px; 
    align-self: center; 
    justify-content: center;
    border-radius: 30px;
    font-weight: 600;
}

.contact-form button:hover {
    background-color: rgb(4, 130, 73);
    opacity: 0.9;
}
fieldset {
    border: 2px solid #a1180c;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.contact-form input[type="tel"]{
    appearance: textfield;
}

.col-back .container .col-wrap{
  gap: 40px;
  margin-bottom: 50px;
}

.col-back .container{
  position: relative;
  margin-top: -110px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-back .container .col-lg-5{
  background-position: 50% 50%;
  margin: -105px 0px 0px 0px;
  padding: 0;
  position: relative; 
  z-index: 4;
  top: 100px; 
  left: 0; 
}

span{
  color: var(--color-main);
  font-weight: 700;
  font: var(--font);
}



/* blog-item */
.blog-item {
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;
  }
  
  .blog-item .inner-image {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 364/240;
    margin-bottom: 8px;
  }
  
  .blog-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .blog-item .inner-content {
    padding: 8px;
  }
  
  .blog-item .inner-content .inner-tag {
    background-color: #00A7E7;
    padding: 2px 10px;
    border-radius: 28px;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    color: #FDFDFD;
  }
  
  .blog-item .inner-content .inner-title {
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  
  .blog-item .inner-content .inner-desc {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #242B33;
    overflow: hidden;
    text-overflow: ellipsis;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  /* End blog-item */
  
  /* footer */
  .footer {
    /* background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%); */
    background: linear-gradient(102.87deg, #e2b0b0 6.43%, #762676 78.33%, #3d4099 104.24%);
    /* border-radius: 40px 40px 0 0; */
    padding: 35px 0 35px 0;
  }
  .footer .inner-logo img{
    width: auto;
    height: 50px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 7px;
   }
  .footer .inner-top {
    background-color: var(--color-main);
    padding: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer .inner-top .inner-content {
    width: calc(40% - 20px);
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
    text-transform: capitalize;
  }
  
  .footer .inner-top .inner-content strong{
    color: rgb(200, 54, 14);
  }

  .footer .inner-top .inner-form {
    width: 60%;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 12px;
    display: flex;
    gap: 12px;
  }
  
  .footer .inner-top .inner-form input {
    flex: 1;
    height: 48px;
    border: 1px solid #99A2A5;
    border-radius: 8px;
    padding: 0 28px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
  }
  
  .footer .inner-top .inner-form input::placeholder {
    color: #99A2A5;
  }
  
  .footer .inner-top .inner-form button {
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-main);
    padding: 0 28px;
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    transition: all 0.3s;
  }
  
  .footer .inner-top .inner-form button:hover {
    background-color: #00A7E7;
  }
  
  .footer .inner-middle {
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer .inner-middle .inner-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px 60px;
  }
  
  .footer .inner-middle .inner-links ul li a {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-dark);
  }
  
  .footer .inner-middle .inner-links ul li a:hover {
    color: #00A7E7;
  }
  
  .footer .inner-middle .inner-socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px 40px;
  }
  
  .footer .inner-middle .inner-socials ul li a {
    font-size: 24px;
    color: var(--color-text-dark);
  }
  
  .footer .inner-middle .inner-socials ul li a:hover {
    color: #00A7E7;
  }
  
  .footer .inner-bottom {
    padding-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .footer .inner-bottom .inner-copyright {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-light);
    width: 40%;
  }
  
  .footer .inner-bottom .inner-logo {
    width: 20%;
    text-align: center;
  }
  
  .footer .inner-bottom .inner-logo img {
    width: 115px;
    height: auto;
  }
  
  .footer .inner-bottom .inner-links {
    width: 40%;
  }
  
  .footer .inner-bottom .inner-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }
  
  .footer .inner-bottom .inner-links ul li a {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-light);
  }

