@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

:root{
    --color-main:#103559;
    --color-sub-1: #171e6a;
    --color-text-dark: #00171F;
    --color--text-light:#667479;
    --font: "Be Vietnam Pro", sans-serif;
    --font-sub: "Pinyon Script", cursive;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: var(--font);
    /* Điều chỉnh khoảng cách giữa các dòng */
    line-height: 1.4; 
    
}
b {
    font-family: var(--font-sub);
}
a{
    text-decoration: none;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
/* mobile */
@media (max-width: 1240.98px) {
    .container {
      width: 960px;
    }
  }
  
  @media (max-width: 991.98px) {
    .container {
      width: 720px;
    }
  }
  
  @media (max-width: 767.98px) {
    .container {
      width: 540px;
    }
  }
  
  @media (max-width: 575.98px) {
    .container {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
/* end */
.button{
    display: inline-flex;
    align-items: center;
    height: 44px;
    width: auto;
    padding: 0 28px;
    color: rgb(243, 244, 245);
    font-weight: 700;
    font-size: 16px;
    background-color: var(--color-main);
    border-radius: 55px;
}

.shoping{
    display: flex;
    flex-direction: column;
    margin-right: -50px;
    align-items: center;
    color: var(--color-main);
    gap: 10px;
}

.shoping i{
    display: flex;
    font-size: 35px;
    color: rgb(201, 20, 20)
}

.shoping b{
    display: flex;
    font-size: 16px;
}

.shoping i:hover{
    color: rgb(4, 187, 233);
}

/* Slide */

swiper-container {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 5px;
    border: 5px solid #000; 
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
    margin-top: 25px;
    backdrop-filter: blur(10px);
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
  }

  /* end slide */

.header {
    padding: 8px 0;
    /* padding: 12px 10.1%; */
    background-color: #dee7e9;
    position: fixed;
    z-index: 2;
    top: 0;
    /* full */
    width: 100%;
}
.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header .inner-logo img{
    width: auto;
    height: 60px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 7px;
}

/* menu */

.header .inner-menu{
    flex: 1;
    text-align: center;
}

.header .inner-menu ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 40px;
}
.header .inner-menu ul li i{
    color: #070707;
    font-size: 25px;
    display: block;
}

.header .inner-menu li:hover{
    border-bottom: 10px solid rgb(15, 201, 111);
    border-radius: 12px;
}

.header .inner-menu ul li{
    /* align-items: center; */
    display: block;
    border-bottom: 10px solid transparent;
    /* transition: border-bottom-color 0.3s ease; */
}


.header .inner-menu ul a{
    display: block;
}


.header .inner-menu ul a{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-main);
}
/* end menu */

/* thanh tim kiem */
.header .inner-form{
    background-color: #faeaea;
    height: 44px;
    width: 280px;
    border-radius: 46px;
    padding: 0 16px;
    display: inline-flex;
    gap: 12px;
    border: 2px solid #898787;
}

.header .inner-form input{
    border: 0;
    outline: 0;
    height: 100%;
    background-color: transparent;
    flex: 1;
    order: 1;
}
.header .inner-form button{
    font-size: 17px;
    color: var(--color--text-light);
    background-color: transparent;
    border: 0;
    padding: 0;
    order: 0;
}
/* mobile */
.header .inner-search-mobile {
    display: none;
  }
  
  .header .inner-menu-mobile {
    display: none;
  }
  
  @media (max-width: 1199.98px) {
    .header .button {
      display: none;
    }
  }
  
  @media (max-width: 991.98px) {
    .header .inner-search-mobile {
      display: inline-block;
      font-size: 23px;
      color: var(--color-text-dark);
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  
    .header .inner-form {
      display: none;
    }
  }
  
  @media (max-width: 767.98px) {
    .header {
      padding: 12.5px 0;
    }
  
    .header .inner-wrap {
      justify-content: space-between;
    }
    
    .header .inner-menu-mobile {
      display: inline-block;
      font-size: 23px;
      color: var(--color-text-dark);
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  
    .header .inner-menu {
      display: none;
    }
  
    .header .inner-logo img {
      height: 32px;
    }
  }
/* end */
.section-1{
    /* background: linear-gradient(102.87deg, #fcfcfc 6.43%, #c5dfe2 78.33%, #a8f4d8 104.24%); */
    background: linear-gradient(102.87deg, #979899 6.43%, #3ed7e5 78.33%, #000001 104.24%);
    /* border-radius: 0 0 40px 40px; */
    /* margin-top: -100px; */
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-1 .inner-wrap{
    display: flex;
}
.section-1 .inner-content{
    width: 50%;
    padding-top: 80px;
    padding-right: 76px;
    position: relative;
}

.section-1 .inner-content .inner-image-sub-1{
    position: absolute;
    top:0;
    left: -10px;
    width: 80%;
    height: auto;
    border-radius: 10px;
    z-index: 0;
}

.section-1 .inner-content .inner-image-sub-2{
    position: absolute;
    top:0;
    left: 600px;
    width: 80%;
    height: auto;
    z-index: 0;
}

.section-1 .inner-content .inner-title{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    position: relative;
    backdrop-filter: blur(0.5px);
    z-index: 1;
}

.section-1 .inner-content .inner-title .inner-title-main{
    font-family: var(--font-sub);
    color: #391603;
    font-size: 70px;
    z-index: 1;
}
.section-1 .inner-content .inner-title .inner-title-sub{
    font-size: 80px;
    z-index: 1;
    color: #f71d09bf;
    font-family: var(--font-sub);
    text-align: center;

}

.section-1 .inner-content .inner-desc{
    font-size: 16px;
    font-weight: 500;
    max-width: 500px;
    color: #000000;
    margin-bottom: 34px;
    position: relative;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.button-outline{
    display: inline-flex;
    align-items: center;
    height: 44px;
    width: auto;
    padding: 0 28px;
    color: var(--color-main);
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    border-radius: 55px;
    border: 3px solid var(--color-main);
}
.button-outline i{
    font-size: 20px;
    color: var(--color-main);
    margin-left: 15px;
}
.section-1 .inner-content .inner-buttons{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    backdrop-filter: blur(0.5px);
    z-index: 1;
}
.section-1 .inner-image{
    width: 50%;
    padding-right: 74px;
}

.section-1 .inner-image .inner-image-main{
    width: 100%;
    height: auto;
    display: block;
}

.section-1 .inner-content .inner-image-sub{
    position: absolute;
    width: 250px;
    height: auto;
    top: -10px;
    left: -10px;
    z-index: 0;
}

/* moble-section 1 */
@media (max-width: 1199.98px) {
    .section-1 .inner-content .inner-title .inner-title-main {
      font-size: 52px;
    }
  
    .section-1 .inner-content .inner-title .inner-title-sub {
      font-size: 36px;
    }
  
    .section-1 .inner-content .inner-bg-2 {
      left: -15px;
      height: 50px;
    }
  }
  
  @media (max-width: 991.98px) {
    .section-1 .inner-wrap {
      flex-wrap: wrap;
    }
  
    .section-1 .inner-content {
      width: 100%;
      padding-top: 35px;
      padding-right: 0;
    }
  
    .section-1 .inner-image {
      width: 100%;
      padding-right: 0;
      margin-top: 25px;
    }
  
    .section-1 .inner-content .inner-bg-2 {
      display: none;
    }
  }
  
  @media (max-width: 767.98px) {
    .section-1 .inner-bg-4 {
      left: 15%;
    }
  }
  
  @media (max-width: 575.98px) {
    .section-1 {
      border-radius: 0 0 20px 20px;
    }
  
    .section-1 .inner-bg-4 {
      left: 8%;
    }
  
    .section-1 .inner-content {
      z-index: 1;
    }
  
    .section-1 .inner-content .inner-title {
      margin-bottom: 12px;
    }
  
    .section-1 .inner-content .inner-title .inner-title-main {
      font-size: 46px;
    }
  
    .section-1 .inner-content .inner-title .inner-title-sub {
      font-size: 28px;
    }
  
    .section-1 .inner-content .inner-desc {
      font-size: 12px;
      margin-bottom: 32px;
    }
  
    .section-1 .inner-content .inner-bg-1 {
      display: none;
    }
  
    .section-1 .inner-image .inner-bg-3 {
      bottom: -45px;
      left: -36px;
    }
  }
  
  @media (max-width: 480px) {
    .section-1 .inner-bg-4 {
      left: 2%;
    }
  }
  /* end */

/* Section 2 */
.section-2{
    padding: 60px 0;
}

.inner-right{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.inner-left .inner-title{
    text-align: center;
    color: var(--color-main);
}
.inner-left .inner-title-sub{ 
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: var(--font-sub);
    color: var(--color-sub-1);
}

.section-2 .inner-wrap{
    display: flex;
    flex-wrap: wrap;
    /* khoảng cách giữa các ảnh */
    gap: 20px 106px;  
}

.section-2 .inner-wrap .product-item{
    /* width: calc((100%-60px)/4); */
    width: 300px;
    justify-items: center;
    align-items: center;
}
/* mobile */
@media (max-width: 991.98px) {
    .section-2 .inner-wrap .product-item {
      width: calc((100% - 40px) / 3);
    }
  }
  
  @media (max-width: 767.98px) {
    .section-2 .inner-wrap {
      gap: 12px;
    }
  
    .section-2 .inner-wrap .product-item {
      width: calc((100% - 12px) / 2);
    }
  
    .section-2 .inner-button-bottom {
      display: block;
      margin-top: 16px;
    }
  
    .section-2 .inner-button-bottom .button-outline {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 575.98px) {
    .section-2 {
      padding: 40px 0;
    }
  }

/* product */
.product-item{
    background-color: #fdfdfd;
    box-shadow: 0px 4px 28px -2px #00000014;
    padding: 8px 8px 0px 8px;
    border-radius: 12px;
    /* gap: 8px; */
}

.product-item .inner-image{
    border-radius: 10px;
    overflow: hidden;
}
.product-item .inner-image img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    /* object-position: center;  Điều chỉnh trọng tâm*/ 
}

.product-item .inner-content{
    padding: 8px 8px 20px 8px;

}

.product-item .inner-content .inner-title{
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-text-dark);
    margin-bottom: 4px;
    /* Ẩn đi nội dung quá dài của tiêu đề */
    overflow: hidden;
    text-overflow: ellipsis;
    /* -webkit-line-clamp: 1; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.product-item .inner-content .inner-info{
    display: flex;
    flex-wrap: wrap;
    /* gap: 4px; thêm 26px nếu muốn tăng khoảng cách cho các nội dung info*/
    gap: 4px;
    margin-bottom: 4px;
}

.product-item .inner-content .inner-info-item{
    color: var(--color--text-light);
    font-weight: 500;
    font-size: 12px;
    position: relative;
}

/* .product-item .inner-content .inner-info-item::after{
    content: "";
    width: 5px;
    height: 2px;
    display: inline-block;
    background-color: var(--color--text-light);
} 
    .product-item .inner-content .inner-info-item:last-child::after{
    display: none;
}
*/

.product-item .inner-content .inner-info-item b{
    font-weight: 700;
}

.product-item .inner-content .inner-price{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text-dark);
}
/* mobile */
@media (max-width: 575.98px) {
    .product-item .inner-content .inner-title {
      font-size: 14px;
    }
  
    .product-item .inner-content .inner-info-item::after {
      display: none;
    }
  }
/* section-4 */
.section-4 {
    padding: 60px 0;
  }
  .section-4 .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .inner-sub-title{
    text-align: center;
    font-weight: 500;
    font-family: var(--font-sub);
    font-size: 50px;
    color: var(--color-sub-1);
  }

  .section-4 .inner-wrap .blog-item {
    width: calc((100% - 40px) / 3);
  }
  
  .section-4 .inner-button-bottom {
    display: none;
  }
  
  @media (max-width: 991.98px) {
    .section-4 .inner-wrap {
      gap: 12px;
    }
  
    .section-4 .inner-wrap .blog-item {
      width: calc((100% - 12px) / 2);
    }
  }
  
  @media (max-width: 767.98px) {
    .section-4 .inner-button-bottom {
      display: block;
      margin-top: 16px;
    }
  
    .section-4 .inner-button-bottom .button-outline {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 575.98px) {
    .section-4 {
      padding: 40px 0;
    }
  
    .section-4 .inner-wrap .blog-item {
      width: 100%;
    }
  }
  /* End section-4 */
  
  /* blog-item */
  .blog-item {
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;
  }
  
  .blog-item .inner-image {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 364/240;
    margin-bottom: 8px;
  }
  
  .blog-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .blog-item .inner-content {
    padding: 8px;
  }
  
  .blog-item .inner-content .inner-tag {
    background-color: #00A7E7;
    padding: 2px 10px;
    border-radius: 28px;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    color: #FDFDFD;
  }
  
  .blog-item .inner-content .inner-title {
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  
  .blog-item .inner-content .inner-desc {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #242B33;
    overflow: hidden;
    text-overflow: ellipsis;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  /* End blog-item */
  
  /* footer */
  .footer {
    /* background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%); */
    background: linear-gradient(102.87deg, #e2b0b0 6.43%, #762676 78.33%, #3d4099 104.24%);
    /* border-radius: 40px 40px 0 0; */
    padding: 35px 0 35px 0;
  }
  .footer .inner-logo img{
    width: auto;
    height: 50px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 7px;
   }
  .footer .inner-top {
    background-color: var(--color-main);
    padding: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer .inner-top .inner-content {
    width: calc(40% - 20px);
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
    text-transform: capitalize;
  }
  
  .footer .inner-top .inner-content strong{
    color: rgb(200, 54, 14);
  }

  .footer .inner-top .inner-form {
    width: 60%;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 12px;
    display: flex;
    gap: 12px;
  }
  
  .footer .inner-top .inner-form input {
    flex: 1;
    height: 48px;
    border: 1px solid #99A2A5;
    border-radius: 8px;
    padding: 0 28px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
  }
  
  .footer .inner-top .inner-form input::placeholder {
    color: #99A2A5;
  }
  
  .footer .inner-top .inner-form button {
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-main);
    padding: 0 28px;
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    transition: all 0.3s;
  }
  
  .footer .inner-top .inner-form button:hover {
    background-color: #00A7E7;
  }
  
  .footer .inner-middle {
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer .inner-middle .inner-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px 60px;
  }
  
  .footer .inner-middle .inner-links ul li a {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-dark);
  }
  
  .footer .inner-middle .inner-links ul li a:hover {
    color: #00A7E7;
  }
  
  .footer .inner-middle .inner-socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px 40px;
  }
  
  .footer .inner-middle .inner-socials ul li a {
    font-size: 24px;
    color: var(--color-text-dark);
  }
  
  .footer .inner-middle .inner-socials ul li a:hover {
    color: #00A7E7;
  }
  
  .footer .inner-bottom {
    padding-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .footer .inner-bottom .inner-copyright {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-light);
    width: 40%;
  }
  
  .footer .inner-bottom .inner-logo {
    width: 20%;
    text-align: center;
  }
  
  .footer .inner-bottom .inner-logo img {
    width: 115px;
    height: auto;
  }
  
  .footer .inner-bottom .inner-links {
    width: 40%;
  }
  
  .footer .inner-bottom .inner-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }
  
  .footer .inner-bottom .inner-links ul li a {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-light);
  }
  
  @media (max-width: 991.98px) {
    .footer .inner-top {
      flex-wrap: wrap;
    }
  
    .footer .inner-top .inner-content {
      width: 100%;
      margin-bottom: 16px;
    }
  
    .footer .inner-top .inner-form {
      width: 100%;
    }
  
    .footer .inner-middle {
      flex-wrap: wrap;
    }
  
    .footer .inner-middle .inner-links {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .footer .inner-middle .inner-links ul {
      justify-content: center;
    }
  
    .footer .inner-middle .inner-socials {
      width: 100%;
    }
  
    .footer .inner-middle .inner-socials ul {
      justify-content: center;
    }
  
    .footer .inner-bottom {
      flex-wrap: wrap;
      padding-top: 36px;
    }
  
    .footer .inner-bottom .inner-copyright {
      width: 100%;
      order: 2;
      font-size: 10px;
      text-align: center;
    }
  
    .footer .inner-bottom .inner-logo {
      width: 100%;
      order: 0;
      margin-bottom: 32px;
    }
  
    .footer .inner-bottom .inner-links {
      width: 100%;
      order: 1;
      margin-bottom: 12px;
    }
  
    .footer .inner-bottom .inner-links ul {
      justify-content: center;
    }
  
    .footer .inner-bottom .inner-links ul li a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 575.98px) {
    .footer {
      border-radius: 20px 20px 0 0;
      padding: 40px 0 16px 0;
    }
  
    .footer .inner-top {
      padding: 16px;
    }
  
    .footer .inner-top .inner-form {
      flex-wrap: wrap;
    }
  
    .footer .inner-top .inner-form input {
      flex: none;
      width: 100%;
    }
  
    .footer .inner-top .inner-form button {
      width: 100%;
    }
  
    .footer .inner-middle .inner-links ul {
      flex-wrap: wrap;
      gap: 10px 40px;
    }
  
    .footer .inner-middle .inner-links ul li a {
      font-size: 13px;
    }
  
    .footer .inner-middle .inner-socials ul li a {
      font-size: 20px;
    }

  }
  /* End footer */  



